<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.BookOrderDao">
	<!-- 预定订单插入操作 -->
	<insert id="add" parameterType="com.ischoolbar.programmer.entity.BookOrder">
		insert into book_order(id,accountId,roomTypeId,name,idCard,mobile,status,arriveDate,leaveDate,createTime,remark) values(null,#{accountId},#{roomTypeId},#{name},#{idCard},#{mobile},#{status},#{arriveDate},#{leaveDate},#{createTime},#{remark})
	</insert>
	<!-- 预定订单编辑操作 -->
	<update id="edit" parameterType="com.ischoolbar.programmer.entity.BookOrder">
		update book_order set accountId = #{accountId},roomTypeId = #{roomTypeId},name = #{name},arriveDate = #{arriveDate},leaveDate = #{leaveDate},idCard = #{idCard},mobile = #{mobile},status = #{status},remark = #{remark} where id = #{id}
	</update>
	<!-- 预定订单信息搜索查询 -->
	<select id="findList" parameterType="Map" resultType="com.ischoolbar.programmer.entity.BookOrder">
		select * from book_order where 1 = 1 
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="status != null">
			and status = #{status}  
		</if>
		<if test="accountId != null">
			and accountId = #{accountId}  
		</if>
		<if test="roomTypeId != null">
			and roomTypeId = #{roomTypeId}  
		</if>
		<if test="idCard != null">
			and idCard like '%${idCard}%' 
		</if>
		<if test="mobile != null">
			and mobile like '%${mobile}%' 
		</if>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 获取单个预定订单信息 -->
	<select id="find" parameterType="Long" resultType="com.ischoolbar.programmer.entity.BookOrder">
		select * from book_order where id = #{value}
	</select>
	<!-- 模糊搜索总条数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from book_order where 1=1  
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="status != null">
			and status = #{status}  
		</if>
		<if test="accountId != null">
			and accountId = #{accountId}  
		</if>
		<if test="roomTypeId != null">
			and roomTypeId = #{roomTypeId}  
		</if>
		<if test="idCard != null">
			and idCard like '%${idCard}%' 
		</if>
		<if test="mobile != null">
			and mobile like '%${mobile}%' 
		</if>
	</select>
	<!-- 删除预定订单信息 -->
	<delete id="delete" parameterType="Long">
		delete from book_order where id = ${value}
	</delete>
</mapper>