<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.RoomTypeDao">
	<!-- 房间类型插入操作 -->
	<insert id="add" parameterType="com.ischoolbar.programmer.entity.RoomType">
		insert into room_type(id,name,photo,price,liveNum,bedNum,roomNum,avilableNum,bookNum,livedNum,status,remark) values(null,#{name},#{photo},#{price},#{liveNum},#{bedNum},#{roomNum},#{avilableNum},#{bookNum},#{livedNum},#{status},#{remark})
	</insert>
	<!-- 房间类型编辑操作 -->
	<update id="edit" parameterType="com.ischoolbar.programmer.entity.RoomType">
		update room_type set name = #{name},photo = #{photo},price = #{price},liveNum = #{liveNum},bedNum = #{bedNum},roomNum = #{roomNum},avilableNum = #{avilableNum},status = #{status},remark = #{remark} where id = #{id}
	</update>
	<!-- 房间类型数量编辑操作 -->
	<update id="updateNum" parameterType="com.ischoolbar.programmer.entity.RoomType">
		update room_type set avilableNum = #{avilableNum},bookNum = #{bookNum},livedNum = #{livedNum} where id = #{id}
	</update>
	<!-- 房间类型信息搜索查询 -->
	<select id="findList" parameterType="Map" resultType="com.ischoolbar.programmer.entity.RoomType">
		select * from room_type where 1 = 1 
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="status != null">
			and status = #{status}  
		</if>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 获取所有房间类型信息 -->
	<select id="findAll" parameterType="Map" resultType="com.ischoolbar.programmer.entity.RoomType">
		select * from room_type
	</select>
	<!-- 获取单个房间类型信息 -->
	<select id="find" parameterType="Long" resultType="com.ischoolbar.programmer.entity.RoomType">
		select * from room_type where id = #{value}
	</select>
	<!-- 模糊搜索总条数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from room_type where 1=1  
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="status != null">
			and status = #{status}  
		</if>
	</select>
	<!-- 删除房间类型信息 -->
	<delete id="delete" parameterType="Long">
		delete from room_type where id = ${value}
	</delete>
</mapper>